.main-container {
  background-image: linear-gradient(
                  0.3turn,
                  rgba($color-dark-blue-1, .2),
                  rgba($color-dark-blue-3, .01),
                  rgba($color-dark-blue-2, .2)),
  url("/img/card-back.png");
  height: 100vh;
  display: grid;
  grid-template-columns: min-content minmax(45vw, 1fr);
  grid-template-rows: auto;
  justify-items: center;

  @include respond(tab-land) {
    grid-template-columns: 80vw 1fr;
    grid-template-rows: 1fr;
  }

  @include respond(tab-port) {
    grid-template-columns: min-content minmax(45vw, 1fr);
    height: 100vh;
    margin: 0;
  }

  :not(&:target) {
    display: none;
  }
}

#st0:hover .st0 {
    animation: 1s animateOpacity forwards 1 ease-out;
}
