//COLORS
$color-primary: #7ed56f;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #5D5D5D;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eeeeee;
$color-grey-light-3: #CDD3DE;

$color-white: #fff;
$color-black: #000;

$color-red-1: #ec4949;
$color-red-2: #ec5f67;
$color-red-3: #f9765e;

$color-green-1: #87be34;
$color-green-2: #9ebe3f;
$color-green-3: #9bbe2e;
$color-green-4: #a9be2e;
$color-dark-green-1: #418910;

$color-yellow-1: #fac863;
$color-yellow-2: #f4b92a;
$color-yellow-3: #f4ac00;


$color-violet-1: #5500a7;
$color-violet-2: #4d009a;
$color-violet-3: #47008e;

$color-blue-1: #5374a6;
$color-blue-2: #5b81b6;
$color-blue-3: #436186;

$color-orange-1: #f99157;

$color-dark-blue-1: #1B2B34;
$color-dark-blue-2: #0d111a;
$color-dark-blue-3: #36383F;


//FONT
$small-font-size: 1rem;
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;