.card-container {
  grid-area: 1 / 1 / 2 / 2;
  width: 0;
  display: flex;
  transition: opacity 2s ease-out;
  transform-style: preserve-3d;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  opacity: 0;
  overflow: hidden;

  &:target {
    width: 100%;
    min-width: 50vw;
    opacity: 1;
  }

  @include respond(tab-land) {
    &:target {
      width: 100%;
      opacity: 1;
    }
  }

  @include respond(tab-port) {
    display: flex;
    //width: 97vw;

    &:target {
      width: 97vw;
    }

    & .btn--transparent {
      display: none;
    }
  }

  @include respond(phone) {
    width: 100vw;
    height: 135vh;
    opacity: 1;
    align-items: self-start;
  }
}
